@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
html body {
    padding-top: 130px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.encabezado {
    background-position: center;
    background-size: cover;
    min-width: 100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 0;
    color: black;
    height: 130px;
    display: flex !important;
    /*flexbox*/
    align-items: center !important;
    /*centrar elementos de manera vertical*/
    justify-content: space-between !important;
    font-size: 13px;
    }

.contenedor-flexible-1 {
    display: flex !important;
    margin-left: 200px !important;
    flex-direction: column !important;
}

.tittle {
    font-family: 'Dancing Script', cursive;
    font-size: 400% !important;
    color: black;
}

.elemento-flexible-2 {
    width: 170px !important;
}

#nav {
    color:black;
    text-decoration: none;
}

.contenedor-flexible-2 {
    display: flex;
    font-size: 150% !important;
}

/**/
#navInt {
    background-image: linear-gradient(to right,
            #ffffff,
            #ffffff 50%,
            rgb(0, 0, 0) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

#navInt:before {
    content: '';
    background: #ffffff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

#navInt:hover {
    background-position: 0;
}

#navInt:hover::before {
    width: 100%;
}
.visibleBodyCSS{
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
}

#containerLabelValue {
    display: flex;
    flex-direction: column;
    width: 1000px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid black;
    background: rgb(221,58,58);
background: radial-gradient(circle, rgba(221,58,58,1) 0%, rgba(252,134,70,1) 100%);
}

.labelValue {
    padding: 40px;
    display: flex;
    min-width: 500px;
    /*border: 3px solid green;*/
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.indicador {
    font-weight: bold;
    color: white;
}
img{
    height: 40px;
}
.tittle{
    margin:0;
    padding:0;
    font-size:120px;
    position:relative;
    color:#000000;
  }
  .tittle:before{
    content:"TrabaGo";
    position:absolute;
    color:#c66816;
    top:0;
    left:0;
    width:0%;
    overflow:hidden;
    transition:all 0.5s;
  }
  .tittle:hover:before{
    width:100%;
  }