@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
	font-family: Arial, sans-serif;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(218,70,54,1) 37%, rgba(253,125,45,1) 100%);
}

h1 {
	text-align: center;
	color: #ffffff;
} 

form {
	margin: 0 auto;
	width: 300px;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
	display: block;
	margin-bottom: 5px;
	color: #333;
}

input[type="text"],
input[type="password"] {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type="button"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
} 

.container {
    display: flex;
    justify-content: space-between;
    height: 700px;
    padding-top: 10%;
  }
  
  .left-box {
    flex: 1;
    color: white;
    padding-left: 10%;
  }
  
  .right-box {
    flex: 2;
  }

  input[type="button"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}
.tittle {
    font-family: 'Dancing Script', cursive;
    font-size: 900% !important;
	margin: 10%;
}
html body {
    font-family: Arial, Helvetica, sans-serif;
}
.parrafoDescripcion{
	font-size: 125%!important;
	text-align: justify;
  text-justify: inter-word;
  margin-left:10%;
}